header{
    background-color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
h1{
    color: rgba(128, 0, 128, 0.641);
}
img{
    width: 200px;
}
section{
    background-image: linear-gradient(black,rgba(0, 0, 0, 0));
}
h2{ 
    font-size: 40px;
    text-align: center;
    color: white;
}
div{
    display: block;
    justify-content: center;
}
p{ 
    color: white;
    font-size: 30px;
}
footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 30px;
}
